<div class="container w-50">
  <div class="card mt-3" >
    <div class="card-header">
      <h4 class="card-title">Sign in</h4>
    </div>

    <div class="card-body">
      <form [formGroup]="loginForm">
        <div class="form-group row mt-2">
          <label for="crUsername"
                 class="ms-4 col-sm-3 col-form-label">Username</label>
          <div class="col-sm-7">
            <input id="crUsername" type=text class="form-control" formControlName="username"
                   placeholder="Username">
          </div>
        </div>

        <div class="form-group row mt-3">
          <label for="crPassword"
                 class="ms-4 col-sm-3 col-form-label">Password</label>
          <div class="col-sm-7">
            <input id="crPassword" type=password class="form-control" formControlName="password"
                   placeholder="Password">
          </div>
        </div>

        <div class="form-group row mt-3 d-flex me-lg-5">
          <div class="d-flex justify-content-end space--right">
            <button type="button" class="btn btn-lg btn-primary"
                    title="Sign in"
                    [class]="{ 'flag-disabled': !loginForm.valid}"
                    [disabled]="!loginForm.valid"
                    (click)="login($event)">Sign in</button>
          </div>

        </div>

      </form>

    </div>

  </div>

</div>
