<div class="container w-50">
  <div class="card mt-3" >
    <div class="card-header">
      <h4 class="card-title">Sign in</h4>
    </div>

    <div class="card-body">
      <form>
        <div class="form-group row mt-2">
          <label for="crUsername"
                 class="offset-2 col-sm-2 col-form-label">Username</label>
          <div class="col-sm-5">
            <input id="crUsername" type=text class="form-control"
                   placeholder="Username">
          </div>
        </div>

        <div class="form-group row mt-3">
          <label for="crPassword"
                 class="offset-2 col-sm-2 col-form-label">Password</label>
          <div class="col-sm-5">
            <input id="crPassword" type=password class="form-control"
                   placeholder="Password">
          </div>
        </div>

        <div class="form-group row mt-3">
          <div class="offset-4">
            <button type="button" class="btn btn-primary"
                    title="Sign in"
                    [class]="{ 'flag-disabled': false}"
                    [disabled]="false"
                    (click)="login()">Sign in</button>
          </div>

        </div>

      </form>

    </div>

  </div>

</div>
