<div class="navbar navbar-expand-lg navbar-dark bg-dark navbar--top">
  <a class="navbar-brand logo">BOAT</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
          [attr.data-target]="'#'+ navbarId" [attr.aria-controls]="navbarId"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Menu links -->
  <nav class="collapse navbar-collapse" [id]="navbarId">

    <ul
      class="nav navbar-nav float-right menualignmentright padding-left-lg  u-navcollapsed-pt-fix align-right-in-parent-flex_">
      <li class="nav-item dropdown" *ngIf="loggedUser">
        <a class="nav-link dropdown-toggle text-bold-" href="#" id="navbarDropdownMenuLink"
           data-toggle="dropdown">
          <i class="far fa-user"></i>
          <span class="padding-left-xxs fw-bold">{{loggedUser?.fullName}}</span>
        </a>
      </li>

      <li class="nav-item switch_">
        <img src="{{ urlFr }}" style="margin-top: -19px" alt="FR"/>
      </li>
    </ul>

  </nav>
</div>
