/* You can add global styles to this file, and also import other style files */

/* bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";

/* Utilities */
@import "assets/css/_utilities.scss";

@import "~primeflex/primeflex.css";

.navbar.navbar--top {
  height: 54px;
  min-height: 54px;
}

.space-lgx {
  margin-top: 7rem !important;
}

.no-margin {
  margin: 0 0 0 !important;
}

.navbar--footer-fixme {
  min-height: inherit;
  margin-bottom: inherit;
  max-height: 26px;
  height: 26px;
}

.space--left {
  left: 10%;
}

.space--right {
  width: 96% !important;
}

.detail {
  text-align: center !important;
  width: 4em;
}

.flag-disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.input-group.input-group--prependfix {
  flex-wrap: nowrap !important;
  height: max-content;
}
